@using Microsoft.EntityFrameworkCore
@model CatalogueList

@{
    ViewData["Title"] = "CatalogueList";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Welcome to our catalogue!</h1>
    <p>Choose the item you want to book or return</p>
</div>

<div>
    @{

        @using (var context = new BookishContext())
        {
            @foreach (var item in context.CatalogueList)
            {
                @*<p> @item </p> *@
                <p> @item.Id | @item.Name | @item.Title | @item.PublishDate.ToShortDateString() | @item.Description | @item.Copies |
                    @item.ItemTypeName </p>
            }

            <p> Display the dropdown catalogue list</p>

            string[] ListItem;
            int i = 0;
@*             foreach (var item in context.CatalogueList)
            {
                ListItem[i] = @item.Name;
                i=++;
            }
            <p>List of items ...</p> *@
            @* @ListItem *@
            @* @Html.DropDownListFor(model => context.CatalogueList, new SelectList(new[]{@item.Name, @item.Title, @item.Description})) *@

        }

    }

</div>