@using Microsoft.EntityFrameworkCore
@model Librarian

@{
    ViewData["Title"] = "Librarian";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p></p>
    <p>Librarian page ... Purbai</p>


    <p>Librarian number: @Model.Id</p>
    <p>Name: @Model.Name</p>

</div>

@{
    using (var context = new BookishContext())
    {
    foreach (var librarian in context.Librarian)
    {
        <p>@librarian.Id : @librarian.Name</p>
    }
    }
}